<html>
    <head>
        <title>Demo socket IO</title>
        <script src="jquery.js"></script>
        <!-- thu vien mat dinh khi cai socket.io
        neu muon tach client rieng de goi thi copy thu vien nay ve
        tai thu muc public de su dung -->
        <script src="socket.io/socket.io.js"></script>
        
        <script>
            //goi dien ket noi len server
            var socket = io("https://cuongdqonline.herokuapp.com:22020"/* ,{ 
                forceNew: true,
                path: '/myownpath'
                } */
             );
            
            $(document).ready(function(){
                //de 
            })
        </script>
    </head>
    <body>
        Trang chủ này không làm gì cả, chỉ sử dụng để kiểm tra dịch vụ web của cuongdq
    </body>
</html>
