<html>
    <head>
        <title>Trang check demo</title>
        <script src="jquery.js"></script>
        <!-- thu vien mat dinh khi cai socket.io
        neu muon tach client rieng de goi thi copy thu vien nay ve
        tai thu muc public de su dung -->
        <script src="socket.io/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css">
        <script>
            //goi dien ket noi len server
            var socket = io("https://cuongdqonline.herokuapp.com?token=cuongdq"
             );
            
            $(document).ready(function(){
                
                socket.on('server-send-admin-info',(data)=>{
                    $("#dsRoom").html(
                        "<h1>REQUEST COUNT: </h1>"+ data.request_count +"<br>" +
                        "<h1>REQUEST TOKEN: </h1>"+ data.request_token +"<br>" +
                        "<h1>REQUEST ERROR: </h1>"+ data.request_err +"<br>"
                    );
                });

                socket.on("server-send-rooms",(rooms)=>{       
                    $("#dsRoom").html("");
                    //data la 1 array nen map la duyet ds
                    rooms.map((r)=>{
                        $("#dsRoom").append("<h4 class='room'>"+r+"</h4>");
                    })
                })
            })
        </script>
    </head>
    <body>
        <h3> CUONGDQONLINE service chat</h3>
        <div id="left">
            <h2>Server Info:</h2>
                <div id="dsInfo"></div>
            <h2>Rooms</h2>
                <div id="dsRoom"></div>
        </div>
        <h4 id="curRoom">...</h4>
        <div id="right">

        </div>
    </body>
</html>
